<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script defer src="script.js"></script>
</head>
<body>
  <form action="#" method="post" onsubmit="myfunc()" enctype="multipart/form-data">
    <input type="text" name="userid" id="userid">
    <input type="text" name="roomid" id="roomid">
    <input type="submit" value="connect">
  </form>

  <script>
    function myfunc() {
      console.log(FormData)
    }
  </script>
</body>
</html>